<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <h1>MUZIKA</h1>


<div class="wrapper">
  <div class="inner">

        <ul>
          <li *ngFor="let file of files" (click)="openFile(file.url)">{{file.name}}</li>
        </ul>

        <div>
          <input type="text" [value]="fileName">
        </div>

     

        <div>
          <span> {{currentTime}} </span>  
          <input type="range" min="0" max="{{endseek}}" [value]="seek" (input)="setSeekTo($event)">
          <span> {{duration}} </span>  
        </div>

        <div>
          <button><i class="fa fa-step-backward"></i></button>
          <button (click)="stop()"><i class="fa fa-stop"></i></button>

          <button (click)="pause()"><i class="fa fa-pause"></i></button>
          <button (click)="play()"><i class="fa fa-play"></i></button>
          <button><i class="fa fa-step-forward"></i></button>
          <button [ngClass]="shuffle ? 'red' : 'normal'" (click)="shuffle = !shuffle"><i class="fa fa-random"></i></button>



        </div>
        
        <div>
          <span>Garsas</span>
          <input type="range" min="0" max="1" step="0.01" value="0.5" (input)="setVolume($event)">
         </div>
     
    </div>
</div>


      



